<header ng-controller="listCtrl" class="am-topbar">
    <h1 class="am-topbar-brand">
    <a href="#" onclick="return false;">{{title}}</a>
  </h1>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}">
        <span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
    </button>
    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search">
            <div class="am-form-group">
                <input type="text" am-form-search class="am-form-field am-input-sm" placeholder="搜索影片">
            </div>
            <button type="submit" class="am-btn am-btn-default am-btn-sm" ng-class="btnblue">搜索</button>
        </form>
    </div>
</header>
